@font-face {
    font-family: "GT America LV";
    font-weight: normal;
    src: url("./assets/fonts/GT-America-LV-Standard-Regular.woff")
        format("woff");
    src: url("./assets/fonts/GT-America-LV-Standard-Regular.woff2")
        format("woff2");
}

/*---------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------*/

html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

/*---------------------------------------------------------------------------------*/

#overlay-wrapper {
    width: 100%;
    height: 100%;

    position: absolute;
    bottom: 0px;
    left: 0px;

    /* padding: 40px; */

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    font-family: "GT America LV";
    font-size: 16px;
}

.overlay {
    background-color: white;

    max-width: calc(100% - 20px * 2);

    margin: 24px;
    padding: 12px 16px;
    gap: 4px;

    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

p,
a {
    margin: 0px;
}

a {
    text-decoration: none;
    color: inherit;

    padding-bottom: 4px;

    border-bottom: 1px solid black;
    transition: 0.3s padding-bottom;
}

a:hover {
    padding-bottom: 0.5px;

    transition: 0.3s padding-bottom;
}

/*---------------------------------------------------------------------------------*/

button {
    border: none;
    color: inherit;
    cursor: pointer;
    appearance: none;
    outline: none;
}

.export {
    position: relative;

    margin: 40px;
    padding: 12px 20px;

    font-family: inherit;
    font-size: inherit;
    overflow: hidden;

    border-radius: 999px;

    /* border: 1px solid black; */
    background-color: white;
    color: black;
    transition: 0.3s all;

    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.export:hover {
    background-color: black;
    color: white;
    transition: 0.3s all;
}

/* .export::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.05);
    opacity: 0;
    transition: opacity 0.3s;
    pointer-events: none;
    z-index: 1001;
}

.export:hover::after {
    opacity: 1;
} */
